<?xml version="1.0"?>
<launch>
    <include file="$(find chibi22_)/launch/local_path_planner.launch"/>

    <include file="$(find chibi22_)/launch/local_goal_creator.launch"/>

    <include file="$(find chibi22_)/launch/get_yaml.launch"/>

    <include file="$(find mcl_3dl)/launch/test.launch"/>
</launch>
